### Exercise 2 - Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem</h1>

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>NumPy</li>
  <li>scikit-learn</li>
</ol>

### Exercise 6 - Create a markdown cell with a table of Data Science tools

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Visual Studio Code</td>
  </tr>
</table>

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

### Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60
min_to_hours = 200 / 60
print(min_to_hours)

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- Introduce commonly used libraries in Data Science
- Discuss open source development environments for Data Science
- Demonstrate creating a single column table with headers and rows
- Include author information in the notebook

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Erhon L. Arag√£o